<h2>Articles</h2>

<div *ngIf="isLoading" class="loading-indicator">
  <p>Loading articles...</p>
  <!-- You can add a spinner or other loading animation here -->
</div>

<div *ngIf="error" class="error-message">
  <p>{{ error }}</p>
</div>

<div *ngIf="!isLoading && !error">
  <div *ngIf="articles.length > 0; else noArticles">
    <ul>
      <li *ngFor="let article of articles">
        <a [routerLink]="['/articles', article.slug]">
          {{ getDisplayTitle(article) }} ({{ article.slug }})
        </a>
      </li>
    </ul>
  </div>
  <ng-template #noArticles>
    <p>No articles found.</p>
  </ng-template>

  <div class="actions">
    <a routerLink="/articles/new" class="button create-button">Create New Article</a>
  </div>
</div>

<style>
  .loading-indicator, .error-message {
    padding: 1em;
    text-align: center;
  }
  .error-message {
    color: red;
    border: 1px solid red;
    background-color: #ffe0e0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding: 0.5em 0;
    border-bottom: 1px solid #eee;
  }
  li a {
    text-decoration: none;
    color: #337ab7;
  }
  li a:hover {
    text-decoration: underline;
  }
  .actions {
    margin-top: 1.5em;
  }
  .button.create-button {
    padding: 0.8em 1.2em;
    background-color: #5cb85c;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  .button.create-button:hover {
    background-color: #4cae4c;
  }
</style>
